

<div>

    <h2>List of employees on the system</h2>
</div>

<div class="">
    <table id="tblEmployees" class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th>Num</th> 
            <th>Name</th> 
            <th>Last Name</th> 
            <th>Position</th> 
        </thead>

        <tbody>
        
        </tbody>
    </table>
</div>

<script src="js/listEmployee.js"></script>