<div>
    <h2>
        Dishes registered on the system
    </h2>
</div>
<div>
    <table id="tblDishes" class="table table-bordered table-striped">
        <thead class="thead-dark">
                    <th>Name</th> 
                    <th>Description</th> 
                    <th>Price</th> 
                    <th>Image</th> 
                    <th>Vegan</th> 
                </thead>

                <tbody>
                
                </tbody>
    </table>
</div>

<script src="/js/listDishes.js"></script>

